{% extends 'base.html.twig' %}

{% block title %}Categorie #{{ category.name }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Catégorie : {{ category.name }}</h1>
        <h5 class="retour" style="text-align:center"><a href="{{ path('app_index') }}">Retour à l'accueil</a></h5>
        <div class="row justify-content-center">
            {% for singleProgram in program %}
                <div class="col-md-3 mb-4">
                    <div class="card category_card">
                        <div class="card-body">
                            <h4 class="card-title" style="text-align:center">
                                {{ singleProgram.id }} . {{ singleProgram.title }}
                            </h4>
                            <p>
                                <h6>Synopsis : </h6>{{ singleProgram.synopsis }}
                            </p>
                            <a href="{{ path("program_show", { id: singleProgram.id }) }}">Voir la série</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}