{% extends 'base.html.twig' %}

{% block title %}Saison {{ season.number }} - {{ program.title }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ program.title }}</h1>
        <h5 class="retour" style="text-align:center"><a href="{{ path('app_index') }}">Retour à l'accueil</a></h5>
            <div class="card mb-3" style="max-width:100vw;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img class="img-fluid rounded-start" src="{{ asset(season.affiche) }}" alt="{{ season.number }} affiche" style="height:100%">
                    </div>    
                        <div class="col-md-8">
                            <div class="card-body">
                                <h4 class="card-title" style="text-align:center">
                                    Saison {{ season.number }} - {{ program.title }}
                                </h4>
                                <p style="text-align:center">
                                    Année : {{ season.year }}<br>
                                    Description : {{ season.description }}
                                </p>
                                <h2>Épisodes</h2>
                                <ul>
                                    {% for episode in season.episodes %}
                                        <li>Épisode {{ episode.number }} - {{ episode.title }}</br>
                                        Synopsis : {{ episode.synopsis }}</li>
                                        <br>
                                    {% endfor %}
                                </ul>
                            <a href="{{ path('program_show', { 'id': program.id }) }}" style="align-item:center">Retour au programme</a>
                            </div>
                        </div>
                </div>
            </div>
    </div>
{% endblock %}
