{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}
<div class="container"> 
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="card-body">
            <h1 class="card-title">{{ program.title }}</h1>
            <p class="card-text">{{ program.synopsis }}</br>
            Catégorie : {{ program.category.name }}</p>
            <a href="{{ path('program_index') }}">Retour à la liste des programmes</a>
        </div>
    </div>
</div>
{% endblock %}