{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}
<div class="container"> 
    <div class="card mb-3" style="max-width:100vw;">
        <div class="row g-0">
            <div class="col-md-4">
                <img class="img-fluid rounded-start" src="{{ asset(program.poster) }}" alt="{{ program.title }} poster" style="height:100%">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h1 class="card-title">{{ program.title }}</h1>
                    <p class="card-text">
                    Année : {{ program.year }}</br></br>
                    Pays : {{ program.country }}</br></br>
                    Synopsis : {{ program.synopsis }}</br></br>
                    Catégorie : {{ program.category.name }}</br></br>
                    <ul>
                        {% for season in program.seasons %}
                            <li><a href="{{ path('program_season_show', { 'program': program.id, 'season': season.id }) }}">Saison {{ season.number }}</a></li>
                        {% endfor %}
                    </ul>
                    </p>
                    <a href="{{ path('program_index') }}">Retour à la liste des programmes</a>
                </div>
            </div>
        </div>    
    </div>
</div>
{% endblock %}