{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
<h1>{{ message }}</h1>
<img src="{{ asset('build/images/berlin.jpg') }}" alt="affiche Berlin" height='300px' width='200px'>
<img src="{{ asset('build/images/crown.webp') }}" alt="affiche Crown" height='300px' width='200px'>
<img src="{{ asset('build/images/grisha.jpg') }}" alt="affiche Shadow and Bones" height='300px' width='200px'>
<img src="{{ asset('build/images/squidgames.jpg') }}" alt="affiche squidgames" height='300px' width='200px'>
<img src="{{ asset('build/images/strangerthings.jpeg') }}" alt="affiche strangerthings" height='300px' width='200px'>
<img src="{{ asset('build/images/walkingdead.jpg') }}" alt="affiche walkingdeads" height='300px' width='200px'>
<img src="{{ asset('build/images/wednesday.jpg') }}" alt="affiche wednesday" height='300px' width='200px'>
{% endblock %}