{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
<h1>{{ message }}</h1>
<div class="container">
    <div id="carouselExample" class="carousel slide" style="align-items:center">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{{ asset('build/images/casadepapelLarge.jpg') }}" width="800px" height="600px" class="d-block w-100"alt="affiche Berlin">
        </div>
        <div class="carousel-item">
            <img src="{{ asset('build/images/shadowBoneLarge.webp') }}" width="800px" height="600px" class="d-block w-100" alt="affiche Crown">
        </div>  
        <div class="carousel-item">
            <img src="{{ asset('build/images/Arcane--Social-media_fb.jpg') }}" width="800px" height="600px" class="d-block w-100" alt="affiche Shadow and Bones">
        </div>
        <div class="carousel-item">
            <img src="{{ asset('build/images/house-of-the-dragonLarge.jpg') }}" width="800px" height="600px" class="d-block w-100" alt="affiche squidgames">
        </div>
        <div class="carousel-item">
            <img src="{{ asset('build/images/anneauxdepouvoirLarge.jpg') }}" width="800px" height="600px" class="d-block w-100" alt="affiche strangerthings">
        </div>
        <div class="carousel-item">
            <img src="{{ asset('build/images/discoveryLarge.webp') }}" width="800px" height="600px" class="d-block w-100" alt="affiche walkingdeads">
        </div>
        <div class="carousel-item">
            <img src="{{ asset('build/images/titansLarge.jpg') }}" width="800px" height="600px" class="d-block w-100" alt="affiche wednesday">
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
{% endblock %}